@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap");
/**Reset Styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s linear;
  font-family: "Sora", sans-serif;
}
