html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

main {
  width: 100%;
  max-width: 500px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 500px;
  padding: 20px;
  border-radius: 5px;
  background-color: #eee;
}

.form-control {
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 5px 20px;
  transition: all 0.2s linear;
}

input,
label {
  display: block;
  margin: 10px 0;
}

input:not([type="checkbox"]),
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #dadada;
  border-radius: 4px;
  box-sizing: border-box;
}

input:not([type="checkbox"]):focus,
textarea:focus {
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}

input.error,
select.error {
  border: 1px solid red;
}

input[type="checkbox"] {
  --size: 25px;
  appearance: none;
  display: flex;
  justify-content: flex-start;
  width: calc(var(--size) * 2);
  height: var(--size);
  border-radius: 100px;
  background-color: gainsboro;
  transition: background-color 0.2s linear;
}

input[type="checkbox"]:checked {
  background-color: #04a9f1;
  justify-content: flex-end;
}

input[type="checkbox"]::after {
  position: absolute;
  content: "";
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background-color: white;
  border: 1px solid gainsboro;
}

select {
  width: 100%;
  padding: 10px;
  border: 1px solid #dadada;
  border-radius: 4px;
  box-sizing: border-box;
}

option {
  padding: 10px;
  border: 1px solid #dadada;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #fafafa;
  color: #000;
  font-size: 16px;
  letter-spacing: 1px;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #54a8ec;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  cursor: pointer;
}

button:hover {
  background-color: #3f8cc9;
}
